/*body */
body{
    background-color: white;
}

/*LOGO*/

/* Nav Menu*/

.nav-menu{

    text-align: center;
}
.nav-menu li{
    margin: 20px;
    padding-left: 20px;
    display: inline;
    list-style: none;
}

.card-container{
    display: flex;
}
.card{
    width: 33.333;
}

.dropdown-menu.show {
    display: flex !important;
    flex-direction: row !important;
}

.last-btn{
    display: flex;
    justify-content: center;
    margin: 30px 0; 

}
